# main environment file
.env

# main environment file
.env.testing

# build result
url-shortener

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Go workspace file
go.work